extends layout

block content
    h1 Tweet Details
    h2 ID:#{tweetDetail.id}
    p Message: #{tweetDetail.message}
    p Author: #{tweetDetail.author}
    p Create Date: #{tweetDetail.createDate} 
    hr
  

